html,
body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #1f2122;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.maincontent {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  min-width: 58.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  margin: 0 auto;
  min-width: 58.75rem;
  padding-left: 4.5625rem;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.hello {
  background: url(../img/video-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative; }
  .hello .header {
    padding-top: 0.625rem;
    margin-bottom: 1.25rem; }
    .hello .header .header__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-line-pack: center;
      align-content: center; }
    .hello .header .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      margin-right: auto;
      width: 20%; }
    .hello .header .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding-top: 1.5625rem;
      margin-right: 0.9375rem; }
      .hello .header .nav .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .hello .header .nav .nav__list .nav__item {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          display: -webkit-inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .hello .header .nav .nav__list .nav__item::before {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: #fff;
            content: '';
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            display: -webkit-inline-flex;
            margin-right: 0.625rem;
            margin-left: 0.625rem; }
          .hello .header .nav .nav__list .nav__item:first-child::before {
            display: none; }
          .hello .header .nav .nav__list .nav__item .nav__link {
            font-family: 'Lifehack';
            font-size: 0.75rem;
            font-weight: 500;
            font-style: normal;
            text-align: center;
            color: #fff;
            text-transform: uppercase; }
            .hello .header .nav .nav__list .nav__item .nav__link:hover {
              border-bottom: 0.0625rem solid #fff; }
    .hello .header .pay-btn {
      padding-top: 0.9375rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      display: -webkit-inline-flex; }
      .hello .header .pay-btn__link {
        min-width: 6.25rem;
        min-height: 2.5rem;
        border-radius: 0.625rem;
        font-size: 0.8125rem;
        color: #fff;
        line-height: 1.42;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #e45028;
        text-align: center;
        padding-top: 0.75rem;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .hello .header .pay-btn__link:hover {
          background-color: #ee7912; }
  .hello .header__content {
    margin-top: 0;
    margin-bottom: 8.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .hello .header__content .content__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -ms-flex-line-pack: center;
      align-content: center; }
      .hello .header__content .content__container .page-image {
        float: left;
        position: relative;
        width: 50%;
        padding-left: 0.625rem; }
        .hello .header__content .content__container .page-image__pic {
          position: absolute; }
        .hello .header__content .content__container .page-image__pic2 {
          position: absolute;
          padding-top: 3.75rem; }
      .hello .header__content .content__container .page-title {
        float: left;
        width: 50%;
        padding-top: 8.125rem; }
        .hello .header__content .content__container .page-title .title {
          font-size: 4.5rem;
          font-family: "Gagalin";
          color: #f9b43b;
          text-transform: uppercase;
          font-weight: 700; }
        .hello .header__content .content__container .page-title .subtitle {
          font-size: 4.0625rem;
          font-family: "Lifehack";
          color: #fff;
          font-style: italic; }
  .hello .arrow-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 6.25rem; }

.best {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  padding-top: 9.375rem; }
  .best .best-page {
    width: 100%;
    min-height: 40.625rem; }
  .best .best-title {
    font-size: 4.5rem;
    font-family: "Gagalin";
    color: #f9b43b;
    text-transform: uppercase;
    font-weight: 700;
    color: #2f3234;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.125rem; }
  .best .about__list {
    width: 100%;
    margin-bottom: 0;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .best .about__list .about__item {
      text-align: center;
      position: relative;
      margin-right: 1.25rem;
      vertical-align: middle;
      margin-bottom: 3.375rem;
      font-size: 0.875rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 18.75rem;
      height: 100%; }
      .best .about__list .about__item:nth-child(3) {
        margin-right: 0; }
      .best .about__list .about__item h2 {
        font-family: 'Lifehack';
        font-size: 1.5625rem;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        margin-bottom: 0.9375rem; }
      .best .about__list .about__item p {
        font-family: 'Ubuntu';
        font-size: 0.875rem;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        line-height: 1.42; }
    .best .about__list .about__pic {
      margin-bottom: 1.25rem;
      width: 6.25rem;
      height: 6.25rem;
      text-align: center; }

.burgers {
  background-color: #f9b43b;
  position: relative;
  padding: 6.25rem 12.5rem;
  height: 100vh; }
  .burgers .burgers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    width: 80%;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%; }
    .burgers .burgers__list .about-burgers {
      height: 40.625rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex; }
      .burgers .burgers__list .about-burgers .dark-burger {
        background: url("../img/Burgers/dark.png") center center no-repeat;
        background-size: contain; }
      .burgers .burgers__list .about-burgers .cheeseburger-burger {
        background: url("../img/Burgers/cheeseburger.png") center center no-repeat;
        background-size: contain; }
      .burgers .burgers__list .about-burgers .chiken-burger {
        background: url("../img/Burgers/chiken.png") center center no-repeat;
        background-size: contain; }
      .burgers .burgers__list .about-burgers .sandwich-burger {
        background: url("../img/Burgers/sandwich.png") center center no-repeat;
        background-size: contain; }
      .burgers .burgers__list .about-burgers .spicy-burger {
        background: url("../img/Burgers/spicy.png") center center no-repeat;
        background-size: contain; }
      .burgers .burgers__list .about-burgers__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        width: 50%;
        height: 100%;
        position: relative; }
        .burgers .burgers__list .about-burgers__left .composition__link {
          background-color: #f08c33;
          width: 5.625rem;
          height: 5.625rem;
          border-radius: 0.3125rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0.875rem 1.25rem;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          .burgers .burgers__list .about-burgers__left .composition__link:hover {
            background-color: #e45028; }
          .burgers .burgers__list .about-burgers__left .composition__link:hover + .composition__list {
            left: 5.625rem;
            top: 0px;
            opacity: 1; }
          .burgers .burgers__list .about-burgers__left .composition__link .link-text {
            font-family: "Gagalin";
            color: #fff;
            text-transform: uppercase;
            text-decoration: none; }
        .burgers .burgers__list .about-burgers__left .composition__list {
          position: absolute;
          left: -624.9375rem;
          opacity: 0;
          font-size: 0;
          width: 17.5rem;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 0.3125rem;
          padding: 1.25rem;
          -webkit-transition: left 0s;
          -o-transition: left 0s;
          transition: left 0s;
          -webkit-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s; }
          .burgers .burgers__list .about-burgers__left .composition__list:hover {
            left: 5.625rem;
            top: 0;
            opacity: 1; }
          .burgers .burgers__list .about-burgers__left .composition__list .composition__item {
            margin-bottom: 0.9375rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item:last-child {
              margin-bottom: 0; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_beef::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/beef.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_buns::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/buns.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_salad::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/salad.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_sauce::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/sauce.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_cucumber::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/cucumber.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text_cheese::before {
              content: '';
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              width: 2.8125rem;
              height: 2.8125rem;
              background: url("../img/icons/cheese.svg") center center no-repeat;
              background-size: contain;
              vertical-align: middle;
              margin-right: 1.25rem; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text {
              width: 70%;
              font-family: "Ubuntu";
              font-weight: 700;
              font-size: 0.875rem;
              margin: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              font-size: 0.875rem;
              margin: 0; }
            .burgers .burgers__list .about-burgers__left .composition__list .composition__item .item__text2 {
              width: 30%;
              text-align: right;
              font-size: 0.875rem;
              margin: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              font-size: 0.875rem;
              margin: 0; }
        .burgers .burgers__list .about-burgers__left .burgers__ccal {
          position: absolute;
          bottom: 0;
          font-family: "Gagalin";
          color: rgba(255, 255, 255, 0.5); }
          .burgers .burgers__list .about-burgers__left .burgers__ccal .ccal-val {
            background: url("../img/icons/kkal.svg") center center no-repeat;
            background-size: contain;
            width: 3.75rem;
            height: 3.75rem;
            color: #fff;
            opacity: 0.5;
            text-align: center;
            padding-top: 1.875rem;
            margin: 0; }
          .burgers .burgers__list .about-burgers__left .burgers__ccal .ccal-text {
            margin-top: 0.4375rem;
            margin-bottom: 0;
            text-align: center;
            width: 3.75rem; }
      .burgers .burgers__list .about-burgers__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-top: 4.375rem;
        padding-left: 2.5rem; }
        .burgers .burgers__list .about-burgers__right .burger-title {
          font-size: 4.5rem;
          font-family: "Gagalin";
          color: #f9b43b;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 3rem;
          line-height: 1.42;
          color: #fff;
          margin-bottom: 1.875rem; }
        .burgers .burgers__list .about-burgers__right .about-burgers__text {
          font-family: 'Ubuntu';
          font-size: 1.25rem;
          font-weight: 500;
          font-style: normal;
          text-align: left;
          margin-bottom: 0.9375rem;
          line-height: 1.42;
          color: rgba(0, 0, 0, 0.7);
          margin-bottom: 3.125rem; }
        .burgers .burgers__list .about-burgers__right .about-burgers__pay {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .burgers .burgers__list .about-burgers__right .about-burgers__pay .pay-price {
            font-size: 4.5rem;
            font-family: "Gagalin";
            color: #e45028;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: 1.25rem;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            display: -webkit-inline-flex; }
          .burgers .burgers__list .about-burgers__right .about-burgers__pay .pay-btn {
            padding-top: 0.9375rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            display: -webkit-inline-flex; }
            .burgers .burgers__list .about-burgers__right .about-burgers__pay .pay-btn__link {
              min-width: 6.25rem;
              min-height: 2.5rem;
              border-radius: 0.625rem;
              font-size: 0.8125rem;
              color: #fff;
              line-height: 1.42;
              text-decoration: none;
              font-weight: 500;
              text-transform: uppercase;
              background-color: #e45028;
              text-align: center;
              padding-top: 0.75rem;
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
              .burgers .burgers__list .about-burgers__right .about-burgers__pay .pay-btn__link:hover {
                background-color: #ee7912; }
  .burgers .arrow-block-left {
    position: absolute;
    top: 50%;
    left: 0; }
  .burgers .arrow-block-right {
    position: absolute;
    top: 50%;
    right: 0; }
  .burgers .arrow-scroll-next-image {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .burgers .arrow-scroll-prev-image {
    position: absolute;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

.team {
  background: url(/img/teampic1.png) center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .team .team-block {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(47, 50, 52, 0.93);
    padding: 6.25rem 6.25rem; }
    .team .team-block .team-title {
      font-size: 4.5rem;
      font-family: "Gagalin";
      color: #f9b43b;
      text-transform: uppercase;
      font-weight: 700;
      text-align: left;
      margin-bottom: 1.25rem; }
    .team .team-block .accordion-team-item {
      margin-bottom: 1.875rem;
      width: 23.125rem; }
      .team .team-block .accordion-team-item .accordion-link-title {
        font-family: "Gagalin";
        font-size: 0.875rem;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        text-align: left;
        margin-bottom: 0.9375rem; }
        .team .team-block .accordion-team-item .accordion-link-title::before {
          content: '';
          display: inline-block;
          width: 0/pxrem;
          height: 0/pxrem;
          border: 0.3125rem solid transparent;
          border-top-color: #f9b43b;
          border-bottom-width: 0;
          margin-right: 0.3125rem; }
      .team .team-block .accordion-team-item .accordion-team-dropdown {
        display: none; }
        .team .team-block .accordion-team-item .accordion-team-dropdown .accordion-team-left {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          margin-right: 0.9375rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          vertical-align: middle; }
          .team .team-block .accordion-team-item .accordion-team-dropdown .accordion-team-left + .accordion-team-pic {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
        .team .team-block .accordion-team-item .accordion-team-dropdown .accordion-team-about {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .team .team-block .accordion-team-item .accordion-team-dropdown .accordion-team-about .accordion-team-subtitle {
            font-family: "Ubuntu";
            font-size: 0.875rem;
            font-weight: 700;
            font-style: normal;
            color: #fff;
            text-align: left; }
          .team .team-block .accordion-team-item .accordion-team-dropdown .accordion-team-about .accordion-team-text {
            font-family: "Ubuntu";
            font-size: 0.875rem;
            font-weight: 300;
            font-style: normal;
            color: #fff;
            text-align: left; }
      .team .team-block .accordion-team-item__active .accordion-team-dropdown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        height: initial; }
      .team .team-block .accordion-team-item__active .accordion-link-title {
        color: #f9b43b; }
      .team .team-block .accordion-team-item__active .accordion-link-title::before {
        content: '';
        display: inline-block;
        width: 0/pxrem;
        height: 0/pxrem;
        border: 5px solid transparent;
        border-bottom-color: #f9b43b;
        border-top-width: 0;
        margin-right: 0.3125rem; }

.menu {
  background: url(../img/menu/pic1.png) center center no-repeat;
  background-size: cover; }
  .menu .menu__block {
    position: relative;
    width: 100%;
    height: 100%; }
    .menu .menu__block .section__title {
      color: #fff;
      font-size: 4.5rem;
      font-family: "Gagalin";
      font-weight: 700;
      margin-bottom: 0.75rem; }
    .menu .menu__block .menu__title {
      position: absolute;
      top: 10%;
      left: 10%; }
    .menu .menu__block .menu-acco {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex; }
      .menu .menu__block .menu-acco .menu-acco__item {
        height: 100%;
        border: 0.0625rem solid black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex; }
        .menu .menu__block .menu-acco .menu-acco__item--active.menu-acco__item--active .menu-acco__trigger-text {
          color: #f9b43b; }
        .menu .menu__block .menu-acco .menu-acco__item--active.menu-acco__item--active .menu-acco__content {
          width: 33.75rem; }
        .menu .menu__block .menu-acco .menu-acco__item--active.menu-acco__item--active .menu-acco__text {
          -webkit-animation: acco-text .8s linear forwards;
          animation: acco-text .8s linear forwards; }

@-webkit-keyframes acco-text {
  75% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes acco-text {
  75% {
    opacity: 0; }
  to {
    opacity: 1; } }
        .menu .menu__block .menu-acco .menu-acco__item .menu-acco__trigger {
          width: 5rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          height: 100%;
          text-decoration: none;
          position: relative; }
          .menu .menu__block .menu-acco .menu-acco__item .menu-acco__trigger:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); }
          .menu .menu__block .menu-acco .menu-acco__item .menu-acco__trigger-text {
            font-family: "Gagalin";
            font-weight: 700;
            font-size: 2.5rem;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            position: absolute;
            -webkit-transform: rotate(-90deg) translateY(-50%);
            -ms-transform: rotate(-90deg) translateY(-50%);
            transform: rotate(-90deg) translateY(-50%);
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            left: 50%;
            top: 100%;
            margin-top: -1.25rem; }
        .menu .menu__block .menu-acco .menu-acco__item .menu-acco__content {
          height: 100%;
          background: rgba(47, 50, 52, 0.93);
          width: 0rem;
          overflow: hidden;
          -webkit-transition: width .6s;
          -o-transition: width .6s;
          transition: width .6s; }
          .menu .menu__block .menu-acco .menu-acco__item .menu-acco__content .menu-acco__text {
            font-size: 14px;
            font-family: 'Ubuntu';
            font-weight: 300;
            color: #fff;
            padding: 3.75rem 0.5rem;
            width: 100%;
            line-height: 1.8;
            opacity: 0;
            -webkit-transition: opacity .2s;
            -o-transition: opacity .2s;
            transition: opacity .2s; }

.reviews {
  height: auto;
  margin: 0 auto; }
  .reviews-general {
    width: 100%;
    height: 100%;
    min-height: 40.625rem;
    margin-right: 0; }
    .reviews-general .reviews-list {
      margin-bottom: 0;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      height: 100%; }
      .reviews-general .reviews-list .reviews-item {
        text-align: center;
        position: relative;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 0.875rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        width: 25%;
        height: 100%; }
        .reviews-general .reviews-list .reviews-item .reviews-image-block {
          width: 100%;
          height: 31.25rem;
          background: #27273e;
          position: relative;
          overflow: hidden;
          position: relative;
          margin-right: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex; }
          .reviews-general .reviews-list .reviews-item .reviews-image-block:hover .reviews-block {
            left: 0;
            opacity: 1; }
          .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block {
            padding: 1.25rem;
            background-color: rgba(39, 39, 62, 0.7);
            height: 100%;
            position: absolute;
            left: -624.9375rem;
            opacity: 0;
            -webkit-transition: left 0;
            -o-transition: left 0;
            transition: left 0;
            -webkit-transition: opacity 1s;
            -o-transition: opacity 1s;
            transition: opacity 1s; }
            .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .reviews-title {
              font-size: 0.875rem;
              font-family: "Gagalin";
              color: #fff;
              text-align: left;
              text-transform: uppercase;
              font-weight: 700;
              margin: 0 auto;
              margin-bottom: 2.1875rem; }
            .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .reviews-subtitle {
              font-family: 'Ubuntu';
              font-size: 0.875rem;
              font-weight: 300;
              color: #fff;
              font-style: normal;
              text-align: left; }
            .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .pay-btn {
              padding-top: 0.9375rem;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              display: -webkit-flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              position: absolute;
              left: 0;
              margin-left: 1.25rem; }
              .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .pay-btn__link {
                min-width: 6.25rem;
                min-height: 2.5rem;
                border-radius: 0.625rem;
                font-size: 0.8125rem;
                color: #fff;
                line-height: 1.42;
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                background-color: #e45028;
                text-align: center;
                padding-top: 0.75rem;
                -webkit-transition: .5s;
                -o-transition: .5s;
                transition: .5s; }
                .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .pay-btn__link:hover {
                  background-color: #ee7912; }
              .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .pay-btn__link {
                background-color: #2f3234; }
              .reviews-general .reviews-list .reviews-item .reviews-image-block .reviews-block .pay-btn__link:hover {
                background-color: #1f2122; }

.order {
  background: url(/img/orderbg.png) center center no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  width: 100%; }
  .order .order__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .order .form-title {
    font-size: 4.5rem;
    font-family: "Gagalin";
    color: #f9b43b;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.25rem; }
  .order .form {
    font-family: 'Ubuntu';
    font-size: 0.875rem;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex; }
    .order .form__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 50%; }
      .order .form__left .one-contacts-block {
        margin-bottom: 0.9375rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .order .form__left .one-contacts-block .form__contacts {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 16rem;
          padding-right: 1.25rem;
          text-align: left; }
          .order .form__left .one-contacts-block .form__contacts .form__text {
            margin-bottom: 0.625rem;
            text-align: left; }
          .order .form__left .one-contacts-block .form__contacts .form__text-input {
            width: 100%;
            height: 2.8125rem;
            padding: 0.8125rem 0.625rem;
            border: 0.125rem solid transparent;
            border-radius: 0.3125rem;
            color: #1f2122;
            text-align: left; }
            .order .form__left .one-contacts-block .form__contacts .form__text-input:focus {
              border-color: #e45028;
              outline: none; }
          .order .form__left .one-contacts-block .form__contacts:last-child {
            padding-right: 0; }
      .order .form__left .two-contacts-block {
        margin-bottom: 0.9375rem; }
        .order .form__left .two-contacts-block .form__text {
          margin-bottom: 0.625rem;
          text-align: left; }
        .order .form__left .two-contacts-block .form__text-input {
          width: 100%;
          height: 2.8125rem;
          padding: 0.8125rem 0.625rem;
          border: 0.125rem solid transparent;
          border-radius: 0.3125rem;
          color: #1f2122;
          text-align: left; }
          .order .form__left .two-contacts-block .form__text-input:focus {
            border-color: #e45028;
            outline: none; }
        .order .form__left .two-contacts-block .form__contacts {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 32.0625rem;
          text-align: left; }
      .order .form__left .three-contacts-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .order .form__left .three-contacts-block .form__contacts {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 8rem;
          padding-right: 1.25rem; }
          .order .form__left .three-contacts-block .form__contacts .form__text {
            margin-bottom: 0.625rem;
            text-align: center; }
          .order .form__left .three-contacts-block .form__contacts .form__text-input {
            width: 100%;
            height: 2.8125rem;
            padding: 0.8125rem 0.625rem;
            border: 0.125rem solid transparent;
            border-radius: 0.3125rem;
            color: #1f2122;
            text-align: center; }
            .order .form__left .three-contacts-block .form__contacts .form__text-input:focus {
              border-color: #e45028;
              outline: none; }
          .order .form__left .three-contacts-block .form__contacts:last-child {
            padding-right: 0; }
    .order .form__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 50%;
      padding-left: 1.875rem; }
      .order .form__right .form__area {
        margin-bottom: 1.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .order .form__right .form__area .form__area-label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 28.75rem;
          margin-right: 0;
          text-align: left; }
          .order .form__right .form__area .form__area-label .form__text {
            margin-bottom: 0.625rem; }
          .order .form__right .form__area .form__area-label .form__area-text {
            font-family: 'Ubuntu';
            font-size: 0.875rem;
            font-weight: 300;
            font-style: normal;
            height: 8.125rem;
            width: 100%;
            border: none;
            border-radius: 0.3125rem;
            padding: 0.3125rem 0.625rem;
            border: 0.0625rem solid transparent; }
            .order .form__right .form__area .form__area-label .form__area-text:focus {
              border-color: #e45028;
              outline: none; }
      .order .form__right .form__controls {
        margin-bottom: 0.3125rem; }
        .order .form__right .form__controls .one-controls-block {
          margin-bottom: 0.625rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .order .form__right .form__controls .one-controls-block .form__radio {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 10rem; }
            .order .form__right .form__controls .one-controls-block .form__radio:first-child {
              margin-right: 0.625rem; }
        .order .form__right .form__controls .two-controls-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .order .form__right .form__controls .two-controls-block .form__radio {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: 0.625rem; }
        .order .form__right .form__controls .form__radio-elem,
        .order .form__right .form__controls .form__radio-fake {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          margin-right: 0.625rem; }
        .order .form__right .form__controls .form__radio-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex; }
      .order .form__right .btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        .order .form__right .btns .pay-btn {
          padding-top: 0.9375rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .order .form__right .btns .pay-btn__link {
            min-width: 6.25rem;
            min-height: 2.5rem;
            border-radius: 0.625rem;
            font-size: 0.8125rem;
            color: #fff;
            line-height: 1.42;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #e45028;
            text-align: center;
            padding-top: 0.75rem;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
            .order .form__right .btns .pay-btn__link:hover {
              background-color: #ee7912; }
        .order .form__right .btns .reset-btn {
          padding-top: 0.9375rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-left: 0.625rem; }
          .order .form__right .btns .reset-btn__link {
            min-width: 6.25rem;
            min-height: 2.5rem;
            border-radius: 0.625rem;
            font-size: 0.8125rem;
            color: #fff;
            line-height: 1.42;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #e45028;
            text-align: center;
            padding-top: 0.75rem;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
            .order .form__right .btns .reset-btn__link:hover {
              background-color: #ee7912; }
          .order .form__right .btns .reset-btn__link {
            background-color: #2f3234; }
            .order .form__right .btns .reset-btn__link:hover {
              background-color: #1f2122; }

.map {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-height: auto;
  position: relative; }
  .map .map-block {
    width: 100%;
    height: 94%; }
    .map .map-block .map-image {
      width: 100%;
      height: 100%; }
  .map .footer {
    padding-top: 0.3125rem;
    background-color: #1f2122;
    width: 100%;
    height: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .map .footer__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .map .footer__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 1.25rem;
      padding-bottom: 0.3125rem; }
      .map .footer__left .adress {
        font-family: 'Ubuntu';
        font-size: 0.875rem;
        font-weight: 300;
        color: #fff;
        font-style: normal;
        text-align: left; }
      .map .footer__left .phone {
        width: 30%; }
        .map .footer__left .phone .phone-numder {
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          font-size: 0.875rem;
          color: #e45028;
          padding-bottom: 0rem;
          padding-top: 0.125rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .map .footer__left .phone .phone-numder:hover {
            color: #fff;
            text-decoration: underline; }
          .map .footer__left .phone .phone-numder::before {
            content: " ";
            width: 0.6875rem;
            height: 0.6875rem;
            background: url(/img/icons/phone.svg) center center no-repeat;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            margin-right: 0.375rem; }
    .map .footer__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      width: 10%;
      padding-top: 0.625rem;
      padding-right: 1.25rem;
      padding-bottom: 0.3125rem; }
      .map .footer__right .social-list {
        padding-left: 1.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        .map .footer__right .social-list .social-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          margin-right: 1.25rem;
          height: 1.25rem;
          width: 1.4375rem;
          position: relative;
          opacity: .5; }
          .map .footer__right .social-list .social-item:hover {
            height: 1.25rem;
            width: 1.4375rem;
            opacity: 1; }
      .map .footer__right .social-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%; }

.navigation-menu {
  position: fixed;
  top: 20%;
  right: 5%;
  z-index: 100; }
  .navigation-menu .nav-scroll__item {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    position: relative;
    margin-bottom: 1.25rem;
    background-color: burlywood; }
    .navigation-menu .nav-scroll__item:hover::after {
      content: '';
      position: absolute;
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      border: 0.125rem solid burlywood;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 50; }
    .navigation-menu .nav-scroll__item:hover .nav-scroll-text {
      opacity: 1; }
  .navigation-menu .nav-scroll__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 150; }
    .navigation-menu .nav-scroll__link .nav-scroll-text {
      position: absolute;
      top: 30%;
      right: 160%;
      font-family: 'Lifehack';
      font-size: 0.625rem;
      font-weight: 500;
      font-style: normal;
      text-align: center;
      color: burlywood;
      text-transform: uppercase;
      opacity: 0;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }

/*# sourceMappingURL=main.css.map */