.footer {
  padding-top: rem(5px);
  background-color: $dark;
  width: 100%;
  height: 5%;
  &__left {
    float: left;
    padding-left: rem(20px);
    padding-bottom: rem(5px);
    & .adress {
      font-family: 'Ubuntu';
      font-size: rem(14px);
      font-weight: 300;
      color: $white;
      font-style: normal;
      text-align: left;
    }
  }
  &__right {
    float: right;
    padding-top: rem(10px);
    padding-right: rem(20px);
    padding-bottom: rem(5px);
    & .social-list {
      padding-left: rem(20px);
      & .social-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(10px);
        height: rem(20px);
        width: rem(23px);
        position: relative;
        opacity: .5;
        &:hover {
          height: rem(20px);
          width: rem(23px);
          opacity: 1;
        }
      }
    }
  }
}

.phone-numder {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: normal;
  font-size: rem(14px);
  color: $red;
  padding-bottom: rem(0px);
  padding-top: rem(2px);
  display: inline-block;
  vertical-align: middle;
  &:hover {
    color: $white;
    text-decoration: underline;
  }
  &::before {
    content: " ";
    @include equal(rem(11px));
    background: url(/img/icons/phone.svg) center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(6px);
  }
}

.social-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include equal(100%);
}