.hello {
  background: url(../img/video-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
}

.content {
  margin: 0 auto;
  margin-bottom: rem(140px);

  & .content__container {
    @include flex;
    align-items: center;
    align-content: center;

    & .page-image {
      @include flex;
      align-items: center;
      align-content: center;
      position: relative;
      width: 50%;
      padding-left: rem(10px);
      &__pic {
        position: absolute;
        padding-left: rem(25px);
      }
      &__pic2 {
        position: absolute;
        padding-top: rem(60px);
      }
    }
    
    & .page-title {
      @include flex;
      flex-wrap: wrap;
      align-items: center;
      width: 50%;
      padding-top: rem(130px);
      .title {
        @include title;
      }
      .subtitle {
        font-size: rem(65px);
        font-family: "Lifehack";
        color: $white;
        font-style: italic;
      }
    }
  }
}

.arrow-scroll {
  text-align: center;
}