.map {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-height: auto;
  position: relative;
  & .map-block {
    width: 100%;
    height: 94%;
    & .map-image {
      @include equal(100%);
    }
  }

  .footer {
    padding-top: rem(5px);
    background-color: $dark;
    width: 100%;
    height: 6%;
    @include flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__container {
      @include equal (100%);
      flex-direction: row;
      align-items: center;
    }

    &__left {
      @include flex;
      margin-right: auto;
      width: 100%;
      flex-direction: column;
      padding-left: rem(20px);
      padding-bottom: rem(5px);
      & .adress {
        font-family: 'Ubuntu';
        font-size: rem(14px);
        font-weight: 300;
        color: $white;
        font-style: normal;
        text-align: left;
      }

      & .phone {
        width: 30%;

        .phone-numder {
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          font-size: rem(14px);
          color: $red;
          padding-bottom: rem(0px);
          padding-top: rem(2px);
          @include flex;
          align-items: center;
          &:hover {
            color: $white;
            text-decoration: underline;
          }
          &::before {
            content: " ";
            @include equal(rem(11px));
            background: url(/img/icons/phone.svg) center center no-repeat;
            @include flex;
            margin-right: rem(6px);
          }
        }
      }
    }
    &__right {
      @include flex;
      padding-top: rem(10px);
      padding-right: rem(20px);
      padding-bottom: rem(5px);
      & .social-list {
        padding-left: rem(20px);
        @include flex;
        flex-direction: row;
        flex-wrap: nowrap;
        & .social-item {
          @include flex;
          margin-right: rem(20px);
          height: rem(20px);
          width: rem(23px);
          position: relative;
          opacity: .5;
          &:hover {
            height: rem(20px);
            width: rem(23px);
            opacity: 1;
          }
        }
      }
  
      .social-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include equal(100%);
      }
    }
  }
}
