.map {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-height: auto;
  position: relative;
  & .map-block {
    width: 100%;
    height: 93%;
    .map-image {
      height: 100%;
      width: 100%;
    }
       
    .map__hint {
      padding: rem(20px);
      min-height: rem(55px);
      min-width: rem(195px);
      font-size: rem(20px);
      line-height: 1;
      color: $white;
      background-color: $orange;
      background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
      border-radius: rem(20px);
    }
    
    .map__balloon {
    padding: rem(20px);
    font-size: rem(30px);
    line-height: 1;
    color:  $white;
    background-color: $orange;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    border-radius: rem(20px);
    }
    
  }

  .footer {
    padding-top: rem(5px);
    background-color: $dark;
    width: 100%;
    height: 7%;
    @include flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @include phones {
      flex-direction: column;
      height: auto;
    }

    &__container {
      @include equal (100%);
      flex-direction: row;
      align-items: center;

      @include phones {
        flex-direction: column;
        align-items: center;
      }
    }

    &__left {
      @include flex;
      margin-right: auto;
      width: 100%;
      flex-direction: column;
      padding-left: rem(20px);
      padding-bottom: rem(5px);
      padding-top: rem(5px);

      @include phones {
        align-items: center;
        text-align: center;
        padding: 0 0;
      }

      & .adress {
        font-family: 'Ubuntu';
        font-size: rem(14px);
        font-weight: 300;
        color: $white;
        font-style: normal;
        text-align: left;
      }

      & .phone {
        width: 30%;

        @include phones {
          width: 100%;
          padding: 0 rem(120px);
        }

        .phone-numder {
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          font-size: rem(14px);
          color: $red;
          padding-bottom: rem(0px);
          padding-top: rem(2px);
          @include flex;
          align-items: center;

          

          &:hover {
            color: $white;
            text-decoration: underline;
          }
          &::before {
            content: " ";
            @include equal(rem(16px));
            background: url(/img/icons/phone.svg) center center no-repeat;
            @include flex;
            margin-right: rem(6px);
          }
        }
      }
    }
    &__right {
      @include flex;
      padding-top: rem(5px);
      padding-right: rem(20px);
      padding-bottom: rem(5px);
      & .social-list {
        padding-left: rem(20px);
        @include flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include phones {
          padding-left: rem(20px);
        }

        & .social-item {
          @include flex;
          margin-right: rem(20px);
          height: rem(20px);
          width: rem(23px);
          position: relative;
          opacity: .5;
          &:hover {
            height: rem(20px);
            width: rem(23px);
            opacity: 1;
          }
        }
      }
  
      .social-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include equal(100%);
      }
    }
  }
}
