.team {
  background: url(/img/teampic1.png) center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  @include flex;
  justify-content: flex-end;

  .team-block {
    width: 50%;
    height: 100%;
    @include flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(47, 50, 52, 0.93);
    padding: rem(100px) rem(100px);

    @include tablets {
      width: 100%;
      text-align: center;
      padding-top: 30%;
    }

    @include phones {
      width: 100%;
      text-align: center;
      padding-top: 10%;
    }

    & .team-title {
      @include title;
      text-align: left;
      margin-bottom: rem(20px);

      @include tablets {
        text-align: center;
      }

      @include phones {
        text-align: center;
      }
    }

    .accordion-team-item {
      margin-bottom: rem(30px);
      width: rem(370px);

      @include tablets {
        margin: 0 auto rem(20px) auto;
      }

      @include phones {
        margin: 0 auto rem(20px) auto;
      }
    
      .accordion-link-title {
        font-family: "Gagalin";
        font-size: rem(14px);
        font-weight: 400;
        font-style: normal;
        color: $white;
        text-align: left;
        margin-bottom: rem(15px);

        &::before {
          content: '';
          display: inline-block;
          @include equal (rem(0));
          border: rem(5px) solid transparent;
          border-top-color: $orange;
          border-bottom-width: 0;
          margin-right: rem(5px);
        }

        @include tablets {
          text-align: center;
        }

        @include phones {
          text-align: center;
        }
      }
      
      .accordion-team-dropdown {
        display: none;

        @include tablets {
          flex-direction: column;
          align-items: center;
        }

        @include phones {
          flex-direction: column;
          align-items: center;
        }

        & .accordion-team-left {
          @include equal(rem(100px));
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          margin-right: rem(15px);
          @include flex;
          vertical-align: middle;

          @include tablets {
            margin-bottom: 5%;
          }

          @include phones {
            margin-bottom: 5%;
          }

          & .accordion-team-pic {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include equal (100%);
            object-fit: cover;
          }
        }
        & .accordion-team-about {
          @include flex;
          flex-direction: column;

          @include tablets {
            align-items: center;
          }

          @include phones {
            align-items: center;
          }

          & .accordion-team-subtitle {
            font-family: "Ubuntu";
            font-size: rem(14px);
            font-weight: 700;
            font-style: normal;
            color: $white;
            text-align: left;
          }
          & .accordion-team-text {
            font-family: "Ubuntu";
            font-size: rem(14px);
            font-weight: 300;
            font-style: normal;
            color: $white;
            text-align: left;

            @include tablets {
              text-align: center;
            }

            @include phones {
              text-align: center;
            }
          }
        }
      }
    
      &__active {
        & .accordion-team-dropdown {
          @include flex;
          height: initial;
        }
        & .accordion-link-title {
          color: $orange;
        }
        & .accordion-link-title::before {
          content: '';
          display: inline-block;
          @include equal (rem(0));
          border: 5px solid transparent;
          border-bottom-color: $orange;
          border-top-width: 0;
          margin-right: rem(5px);
        }
      }
    }
  }
}