html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(16px);
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  @include equal(100%);
  min-width: rem(940px + 20px);
  display: flex;
  flex-direction: column;
}

.maincontent {
  @include equal(100%);
  overflow-x: hidden;
}

.section {
  height: 100vh;
  min-height: rem(650px);
  min-width: rem(940px);
  display: flex;
}

.container {
  margin: 0 auto;
  min-width: rem(940px);
  padding-left: rem(73px);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.visuallyhidden {
  position: absolute;
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}