.burgers__list {
  float: left;
  width: 80%;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
}

.arrow-left-block, .arrow-right-block {
  /* float: left;
  width: 5%;
  height: 100%; */
  position: absolute;
  top: 50%;
}

.arrow-left-block {
  left: 0;
}

.arrow-right-block {
  right: 0;
}

/* .arrow-right-block {
  float: left;
  width: 5%;
  height: 100%;
} */

.item__image,
.item__text,
.item__text2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin: 0;
}

.burgers {
  background-color: #f9b43b;
  position: relative;
  padding: 90px 45px;
  height: auto;
}

.composition__link {
  background-color: #f08c33;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: block;
  padding: 14px 20px;
  transition: 0.2s;
}

.composition__link:hover {
  background-color: #e35028;
}

.link-text {
  display: block;
  font-family: "Gagalin";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.composition__list {
  position: absolute;
  left: -9999px;
  opacity: 0;
  font-size: 0;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
  transition: left 0s;
  transition: opacity 1s;
}

.composition__list:hover {
  left: 90px;
  top: 0px;
  opacity: 1;
}

.composition__link:hover+.composition__list {
  left: 90px;
  top: 0px;
  opacity: 1;
}

.composition__item {
  margin-bottom: 15px;
}

.composition__item:last-child {
  margin-bottom: 0;
}

.item__text {
  width: 70%;
  font-family: "Ubuntu";
  font-weight: 700;
}

.item__text2 {
  width: 30%;
  text-align: right;
}

.item__text_beef::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/beef.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.item__text_buns::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/buns.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.item__text_salad::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/salad.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.item__text_sauce::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/sauce.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.item__text_cucumder::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/cucumber.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.item__text_cheese::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../../img/icons/cheese.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.about-burgers {
  height: 650px;
}

.about-burgers__left,
.about-burgers__right {
  float: left;
  width: 50%;
}

.about-burgers__left {
  height: 100%;
  position: relative;
}

.burgers__ccal {
  position: absolute;
  bottom: 0;
  font-family: "Gagalin";
  color: rgba(255, 255, 255, 0.5);
}

.ccal-val {
  background: url(../../img/icons/kkal.svg) center center no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.ccal-text {
  margin-top: 7px;
  margin-bottom: 0;
  text-align: center;
  width: 60px;
}

.about-burgers__right {
  height: 100%;
  padding-top: 70px;
  padding-left: 30px;
}

.burger-title {
  font-size: 72px;
  font-family: "Gagalin";
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-burgers__text {
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.42;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
}

.pay-price {
  font-size: 72px;
  font-family: "Gagalin";
  color: #e35028;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}

.pay-price, .pay-btn {
  display: inline-block;
  vertical-align: middle;
}

.one-burger {
  background: url(../../img/Burgers/Dark.png) center center no-repeat;
  background-size: contain;
}

/* .arrow-burgers-left {
  position: relative;
  width: 30px;
  height: 30px;
  
} */

/* .arrow-burgers-right {
  position: relative;
  width: 30px;
  height: 30px;
} */

.arrow-scroll-next-image {
  /* position: absolute; */
  transform: rotate(90deg);
}

.arrow-scroll-prev-image {
  position: absolute;
  transform: rotate(270deg);
}
