.header {
    padding-top: 10px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 31%;
    margin-right: 6px;
}

.nav {
    float: left;
    padding-top: 25px;
    margin-right: 15px;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-family: 'Lifehack';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.nav__link:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #fff;
}

.nav__item::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    vertical-align: middle;
}

.nav__item:first-child::before {
    display: none;
}

.pay-btn {
    padding-top: 15px;
}

.pay-btn__link {
    float: left;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f6ab3a;
    text-align: center;
    padding-top: 12px;
}

.pay-btn__link:hover {
    background-color: #e45028;
}