.team {
    background: url(/img/teampic1.png) 0 0 no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 650px;
}

.team-block {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(47, 50, 52, 0.93);
    padding: 100px 100px;
}

.team-title {
    text-align: left;
    margin-bottom: 20px;
}

.accordion-team-item {
    margin-bottom: 30px;
    width: 370px;
}

.accordion-team-item__active .accordion-link-title {
    color: #f8b43a;
}

.accordion-team-item__active .accordion-link-title::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #f8b43a;
    border-top-width: 0;
    margin-right: 5px;
}

.accordion-link-title {
    font-family: "Gagalin";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}

.accordion-link-title::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-bottom-width: 0;
    margin-right: 5px;
}

.accordion-team-item__active .accordion-team-dropdown {
    height: initial;
}

.accordion-team-left {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

.accordion-team-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.accordion-team-left, .accordion-team-about {
    display: inline-block;
    vertical-align: middle;
}

.accordion-team-subtitle {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    text-align: left;
}

.accordion-team-text {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: left;
}

